.menu {
  align-items: flex-start;
  display: flex;
  margin: 1rem;
  position: absolute;
}

.menu__image-container {
  display: flex;
  justify-content: center;
  width: 2rem;
}

.menu__list {
  left: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu__list > li {
  display: block;
}

a {
  font-size: 14px;
  font-style: normal;
  letter-spacing: 2.1px;
  line-height: 28px;
}

a.active {
  font-weight: bold;
}

.alert-enter {
  opacity: 0;
  transform: scale(.9);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(.9);
  transition: opacity 300ms, transform 300ms;
}
