@import 'styles/constants';

.inside-column-left {
  box-shadow: 0 2px 4px $shadowColor;
  flex-basis: 25%;
  justify-content: center;
  padding-top: 5rem;
}

.home-column-right {
  flex-basis: 75%;
}

.column__header--no-bold {
  font-weight: normal;
}

.home-list {
  padding: 2.5rem;
}

.home-list__option {
  display: flex;
  justify-content: flex-start;
}

.home-list__bullet::before {
  color: $skyblueBackgroundColor;
  content: "\2022";
  font-size: $headerFontSize;
  font-weight: bold;
}

.home-list__label {
  font-size: $mediumFontSize;
  line-height: $mediumFontHeight;
  padding: 0 .5rem;
  text-align: justify;
}

.home-list__bullet,
.home-list__label {
  margin: 1rem 0;
}
