.column__line--margin {
  margin-top: .5rem;
}

.form_input__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.65px;
  line-height: 15px;
  text-transform: uppercase;
}

.form_input__select--centered-text {
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
}
